---
import HeroDefault from "./hero-default.astro";
import HeroFeatured from "./hero-featured.astro";
import HeroFloat from "./hero-float.astro";
import HeroGallery from "./hero-gallery.astro";
import HeroLeft from "./hero-left.astro";
import HeroOffset from "./hero-offset.astro";
import HeroRight from "./hero-right.astro";
import HeroTile from "./hero-tile.astro";

const { variant } = Astro.props;

const collectionMap = {
  default: HeroDefault,
  list: HeroDefault,
  grid: HeroDefault,
  carousel: HeroDefault,
  accordion: HeroDefault,
  minimal: HeroDefault,
  featured: HeroFeatured,
  features: HeroDefault,
  left: HeroLeft, // Content is on the left, image on the right
  right: HeroRight, // Content is on the right, image on the left
  center: HeroDefault,
  badge: HeroDefault,
  grouped: HeroOffset,
  offset: HeroOffset,
  split: HeroOffset, // FIXME
  vertical: HeroDefault,
  app: HeroDefault,
  gallery: HeroGallery,
  audience: HeroDefault,
  slides: HeroDefault,
  video: HeroDefault, // FIXME
  audio: HeroDefault, //FIXME
  "image-tile": HeroTile,
  float: HeroFloat,
};

const getComponent = (variant) => {
  return collectionMap[variant] || HeroDefault;
};

const RenderComponent = getComponent(variant);
---

{
  RenderComponent ? (
    <RenderComponent {...Astro.props} />
  ) : (
    <p>No valid variant or collection type selected</p>
  )
}
