---
import FeaturesDefault from "./features-default.astro";
import FeaturesList from "./features-list.astro";

const { variant } = Astro.props;

// Map variant to components
const collectionMap = {
  default: FeaturesDefault,
  list: FeaturesList,
  //   grid: FeaturesDefault,
};

const getComponent = (variant) => {
  return collectionMap[variant] || FeaturesDefault;
};

const RenderComponent = getComponent(variant);
---

{
  RenderComponent ? (
    <RenderComponent {...Astro.props} />
  ) : (
    <p>No valid variant or collection type selected</p>
  )
}
