---
import SectionTitle from "../../section-title.astro";
import PostDefaultItem from "../post/post-default-item.astro";

const { records } = Astro.props;
---

<section class="relative w-full max-w-7xl mx-auto lg:pb-24">
  <SectionTitle {...Astro.props} />

  <div class="py-0">
    <ol
      class="grid grid-cols-1 gap-4 lg:grid-cols-1 sm:grid-cols-1"
      role="list"
    >
      {records?.map((post) => <PostDefaultItem {...post} />)}
    </ol>
  </div>
</section>
