---
import SectionTitle from "../../section-title.astro";
import PostDefaultItem from "../post/post-default-item.astro";
import PostGridItem from "./post-grid-item.astro";
import PostSliderItem from "./post-slider-item.astro";

const { records } = Astro.props;
---

<section class="relative w-full max-w-7xl mx-auto lg:pb-24">
  <SectionTitle {...Astro.props} />

  <div class="py-0">
    <div
      class="mt-16 flex gap-8 px-(--scroll-padding) [scrollbar-width:none] [&::-webkit-scrollbar]:hidden snap-x snap-mandatory overflow-x-auto overscroll-x-contain scroll-smooth [--scroll-padding:max(--spacing(6),calc((100vw-(var(--container-2xl)))/2))] lg:[--scroll-padding:max(--spacing(8),calc((100vw-(var(--container-7xl)))/2))]"
      role="list"
    >
      {records?.map((post) => <PostSliderItem {...post} />)}
    </div>
  </div>
</section>
