---
import classNames from "classnames";
import ContentRender from "./content-render.astro";

const { title, subTitle, excerpt, content, clazz } = Astro.props;
---

<div class={classNames(clazz, "")}>
  <section class="relative disclaimer">
    <div
      class="relative items-center w-full py-2 mx-auto max-w-7xl lg:pb-1 lg:pt-1"
    >
      <div class="max-w-7xl mx-auto">
        <!--  -->
        <p class="text-sm uppercase font-semibold">{subTitle}</p>

        {
          title && (
            <p class="mt-2 text-3xl text-balance font-normal sm:text-5xl bg-clip-text bg-gradient-to-r from-blue-500 to-blue-200">
              {title}
            </p>
          )
        }
        <p class="max-w-7xl mt-2 text-gray-500 text-xs pt-2">
          {excerpt}
        </p>
      </div>

      <div class="content-wrapper max-w-7xl text-xs">
        <ContentRender {...Astro.props} className={" text-xs"} />
      </div>
    </div>
  </section>
</div>
