/* @import "tailwindcss"; */

:root {
  --color-primary: #22c55e;
  --color-secondary: #16a34a;
  --color-accent: #15803d;
  --color-background: #f0fdf4;
  --color-text: #14532d;
}

/* @layer base {
  :root {
    --color-primary: #22c55e;
    --color-secondary: #16a34a;
    --color-accent: #15803d;
    --color-background: #f0fdf4;
    --color-text: #14532d;
  }
}

@layer components {
  :root {
    --color-primary: #22c55e;
    --color-secondary: #16a34a;
    --color-accent: #15803d;
    --color-background: #f0fdf4;
    --color-text: #14532d;
  }
}

@layer utilities {
  :root {
    --color-primary: #22c55e;
    --color-secondary: #16a34a;
    --color-accent: #15803d;
    --color-background: #f0fdf4;
    --color-text: #14532d;
  }
} */
