/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Import theme variables FIRST - these define the base CSS variables */

@import "tailwindcss";
@import url("/public/themes/6944754c649b0752d88a5d56.css");

@theme {
  --color-primary-50: oklch(0.969 0.016 293.756) !important;
  --color-primary-100: oklch(0.943 0.029 294.588) !important;
  --color-primary-200: oklch(0.894 0.057 293.283) !important;
  --color-primary-300: oklch(0.811 0.111 293.571) !important;
  --color-primary-400: oklch(0.702 0.183 293.541) !important;
  --color-primary-500: oklch(0.606 0.25 292.717) !important;
  --color-primary-600: oklch(0.541 0.281 293.009) !important;
  --color-primary-700: oklch(0.491 0.27 292.581) !important;
  --color-primary-800: oklch(0.432 0.232 292.759) !important;
  --color-primary-900: oklch(0.38 0.189 293.745) !important;
  --color-primary-950: oklch(0.283 0.141 291.089) !important;

  --color-secondary-50: oklch(0.979 0.021 166.113);
  --color-secondary-100: oklch(0.95 0.052 163.051);
  --color-secondary-200: oklch(0.905 0.093 164.15);
  --color-secondary-300: oklch(0.845 0.143 164.978);
  --color-secondary-400: oklch(0.765 0.177 163.223);
  --color-secondary-500: oklch(0.696 0.17 162.48);
  --color-secondary-600: oklch(0.596 0.145 163.225);
  --color-secondary-700: oklch(0.508 0.118 165.612);
  --color-secondary-800: oklch(0.432 0.095 166.913);
  --color-secondary-900: oklch(0.378 0.077 168.94);
  --color-secondary-950: oklch(0.262 0.051 172.552);

  --color-accent-50: oklch(0.985 0 0);
  --color-accent-100: oklch(0.967 0.001 286.375);
  --color-accent-200: oklch(0.92 0.004 286.32);
  --color-accent-300: oklch(0.871 0.006 286.286);
  --color-accent-400: oklch(0.705 0.015 286.067);
  --color-accent-500: oklch(0.552 0.016 285.938);
  --color-accent-600: oklch(0.442 0.017 285.786);
  --color-accent-700: oklch(0.37 0.013 285.805);
  --color-accent-800: oklch(0.274 0.006 286.033);
  --color-accent-900: oklch(0.21 0.006 285.885);
  --color-accent-950: oklch(0.141 0.005 285.823);
}

html {
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
  border-color: rgb(var(--color-border-primary));
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
/* background-size: 100% 600px; */

.text-muted {
  /* color: rgb(var(--color-text-muted));
  @apply transition-colors duration-200 ease-in-out;
  @apply text-gray-500  dark:text-gray-400; */
}

/* @apply hover:text-gray-700 dark:hover:text-gray-300;
  @apply focus:text-gray-600 dark:focus:text-gray-300;
  @apply active:text-gray-800 dark:active:text-gray-300; */

/* text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 */
/* text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 */
