/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Import theme variables FIRST - these define the base CSS variables */

@import "tailwindcss";

/* @import url("/public/themes/6944754c649b0752d88a5d56.css"); */

html {
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
  border-color: rgb(var(--color-border-primary));
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
/* background-size: 100% 600px; */

.text-muted {
  /* color: rgb(var(--color-text-muted));
  @apply transition-colors duration-200 ease-in-out;
  @apply text-gray-500  dark:text-gray-400; */
}

/* @apply hover:text-gray-700 dark:hover:text-gray-300;
  @apply focus:text-gray-600 dark:focus:text-gray-300;
  @apply active:text-gray-800 dark:active:text-gray-300; */

/* text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 */
/* text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 */

:target {
  /* outline: 2px solid var(--color-primary, #b91c1c); */
  /* background: rgba(255, 0, 0, 0.05); */
  /* scroll-margin-top: 80px;  */
}
