/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Import theme variables FIRST - these define the base CSS variables */

@import "tailwindcss";
/* @import url("/public/themes/6944754c649b0752d88a5d56.css"); */

@theme {
  --color-primary-50: oklch(0.965 0.011 63.361) !important;
  --color-primary-100: oklch(0.93 0.022 63.195) !important;
  --color-primary-200: oklch(0.859 0.045 62.78) !important;
  --color-primary-300: oklch(0.789 0.069 62.169) !important;
  --color-primary-400: oklch(0.652 0.115 59.187) !important;
  --color-primary-500: oklch(0.554 0.094 63.662) !important;
  --color-primary-600: oklch(0.474 0.078 64.611) !important;
  --color-primary-700: oklch(0.367 0.072 52.766) !important;
  --color-primary-800: oklch(0.3 0.045 66.013) !important;
  --color-primary-900: oklch(0.203 0.026 62.836) !important;

  --color-secondary-50: oklch(0.984 0.003 247.858);
  --color-secondary-100: oklch(0.968 0.007 247.896);
  --color-secondary-200: oklch(0.929 0.013 255.508);
  --color-secondary-300: oklch(0.869 0.02 252.894);
  --color-secondary-400: oklch(0.711 0.035 256.788);
  --color-secondary-500: oklch(0.554 0.041 257.417);
  --color-secondary-600: oklch(0.446 0.037 257.281);
  --color-secondary-700: oklch(0.372 0.039 257.287);
  --color-secondary-800: oklch(0.279 0.037 260.031);
  --color-secondary-900: oklch(0.208 0.04 265.755);

  --color-accent-50: oklch(0.987 0.021 95.277);
  --color-accent-100: oklch(0.962 0.058 95.617);
  --color-accent-200: oklch(0.924 0.115 95.746);
  --color-accent-300: oklch(0.879 0.153 91.605);
  --color-accent-400: oklch(0.837 0.164 84.429);
  --color-accent-500: oklch(0.769 0.165 70.08);
  --color-accent-600: oklch(0.666 0.157 58.318);
  --color-accent-700: oklch(0.555 0.146 48.998);
  --color-accent-800: oklch(0.473 0.125 46.201);
  --color-accent-900: oklch(0.414 0.105 45.904);
}

html {
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
  border-color: rgb(var(--color-border-primary));
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
/* background-size: 100% 600px; */

.text-muted {
  /* color: rgb(var(--color-text-muted));
  @apply transition-colors duration-200 ease-in-out;
  @apply text-gray-500  dark:text-gray-400; */
}

/* @apply hover:text-gray-700 dark:hover:text-gray-300;
  @apply focus:text-gray-600 dark:focus:text-gray-300;
  @apply active:text-gray-800 dark:active:text-gray-300; */

/* text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 */
/* text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 */
