/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Import theme variables FIRST - these define the base CSS variables */

@import "tailwindcss";

/* FIXME
https://tailwindcss.com/docs/preflight */

/* @source inline("{hover:,focus:,}underline"); */

/* https://tailwindcss.com/docs/detecting-classes-in-source-files#safelisting-with-ranges */
/* @source inline("{hover:,}bg-red-{50,{100..900..100},950}"); */

/* Safelist primary, secondary, and accent color classes */
/* @source inline("{hover:,focus:,}bg-primary-{50,{100..900..100}}");
@source inline("{hover:,focus:,}text-primary-{50,{100..900..100}}");
@source inline("{hover:,focus:,}border-primary-{50,{100..900..100}}");

@source inline("{hover:,focus:,}bg-secondary-{50,{100..900..100}}");
@source inline("{hover:,focus:,}text-secondary-{50,{100..900..100}}");
@source inline("{hover:,focus:,}border-secondary-{50,{100..900..100}}");

@source inline("{hover:,focus:,}bg-accent-{50,100,500,600,900}");
@source inline("{hover:,focus:,}text-accent-{50,100,500,600,900}");
@source inline("{hover:,focus:,}border-accent-{50,100,500,600,900}"); */

/* Import default theme styles */
/* @import url("./theme-sample.css"); */
/* @import "./theme-default.css"; */

@import "./theme-template.css";

html {
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
  border-color: rgb(var(--color-border-primary));
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
/* background-size: 100% 600px; */

.text-muted {
  /* color: rgb(var(--color-text-muted));
  @apply transition-colors duration-200 ease-in-out;
  @apply text-gray-500  dark:text-gray-400; */
}

/* @apply hover:text-gray-700 dark:hover:text-gray-300;
  @apply focus:text-gray-600 dark:focus:text-gray-300;
  @apply active:text-gray-800 dark:active:text-gray-300; */

/* text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 */
/* text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 */
