.prose {
  max-width: 130ch !important;
}

/* src/styles/lexical.css */

.lexical-content {
  /* color: #1f2937;  */
  /* gray-800 */
  /* font-family: system-ui, sans-serif; */
  line-height: 1.75;
  max-width: 72ch;
}

.lexical-content h1,
.lexical-content h2,
.lexical-content h3,
.lexical-content h4,
.lexical-content h5,
.lexical-content h6 {
  /* font-weight: 700; */
  /* color: #111827;  */
  /* gray-900 */
  margin-top: 2em;
  margin-bottom: 0.5em;
  line-height: 1.25;
}

.lexical-content h1 {
  font-size: 2.25rem; /* text-4xl */
}

.lexical-content h2 {
  font-size: 1.875rem; /* text-3xl */
}

.lexical-content h3 {
  font-size: 1.5rem; /* text-2xl */
}

.lexical-content h4 {
  font-size: 1.25rem; /* text-xl */
}

.lexical-content h5 {
  font-size: 1.125rem; /* text-lg */
}

.lexical-content h6 {
  font-size: 1rem; /* text-base */
}

.lexical-content p {
  margin-bottom: 1.25em;
  font-size: 1rem;
}

.lexical-content blockquote {
  border-left: 4px solid #d1d5db; /* gray-300 */
  padding-left: 1em;
  font-style: italic;
  color: #4b5563; /* gray-600 */
  margin: 1.5em 0;
}

.lexical-content ul,
.lexical-content ol {
  margin: 1em 0 1.5em;
  padding-left: 1.5em;
}

.lexical-content ul li {
  list-style-type: disc;
  margin-bottom: 0.5em;
}

.lexical-content ol li {
  list-style-type: decimal;
  margin-bottom: 0.5em;
}

.lexical-content a {
  color: #2563eb; /* blue-600 */
  text-decoration: underline;
}

.lexical-content a:hover {
  color: #1e40af; /* blue-800 */
}

.lexical-content strong {
  font-weight: 700;
}

.lexical-content code {
  background: #f3f4f6; /* gray-100 */
  color: #b91c1c; /* red-700 */
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: monospace;
}

.lexical-content pre {
  background: #f9fafb; /* gray-50 */
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  font-size: 0.875rem;
  margin: 2em 0;
  color: #111827;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.lexical-content img {
  display: block;
  max-width: 100%;
  margin: 1.5em 0;
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.lexical-content hr {
  border: none;
  border-top: 1px solid #e5e7eb; /* gray-200 */
  margin: 3em 0;
}
