@import "tailwindcss";

@theme {
  --color-primary-50: rgb(249 242 236);
  --color-primary-100: rgb(243 229 217);
  --color-primary-200: rgb(231 203 179);
  --color-primary-300: rgb(219 177 141);
  --color-primary-400: rgb(195 125 65);
  --color-primary-500: rgb(153 102 51);
  --color-primary-600: rgb(122 82 41);
  --color-primary-700: rgb(92 51 23);
  --color-primary-800: rgb(61 41 20);
  --color-primary-900: rgb(31 20 10);
  --color-primary: rgb(153 102 51); /* Base primary (same as 500) */
}
