---
import Layout from "../../layouts/layout.astro";
import HeroOffset from "../../themes/default/hero/hero-offset.astro";

const { title, subTitle, excerpt, ...rest } = Astro.props;
---

<Layout>
  <h1>Catalog Fallback</h1>
  <HeroOffset title={title} subtitle={subTitle} excerpt={excerpt} />
</Layout>
