---
import FaqsDefault from "./faqs-default.astro";
import FaqsGrid from "./faqs-grid.astro";
import FaqsOffset from "./faqs-offset.astro";

const { variant } = Astro.props;

const collectionMap = {
  default: FaqsDefault,

  // FIXME
  offset: FaqsOffset,
  grid: FaqsGrid,
};

const getComponent = (variant) => {
  return collectionMap[variant] || FaqsDefault;
};

const RenderComponent = getComponent(variant);
---

{
  RenderComponent ? (
    <RenderComponent {...Astro.props} />
  ) : (
    <p>No valid variant or collection type selected</p>
  )
}
