---
// import YouTubeEmbed from "./YouTubeEmbed.astro";
const { link, caption } = Astro.props;

const videoURL = link?.videoURL || link?.video || link?.link || null;

console.log("Video URL:", videoURL);

const isYouTube =
  videoURL &&
  (decodeURIComponent(videoURL).trim().toLowerCase().includes("youtube") ||
    decodeURIComponent(videoURL).trim().toLowerCase().includes("youtu.be"));
---

<!-- Video Block {videoURL}
  {videoURL.toLowerCase().includes("youtube")} --><!-- <YouTubeEmbed {...Astro.props} /> -->
<section class="max-w-5xl mx-auto text-center py-16">
  <div>
    {
      isYouTube ? (
        <iframe
          style="width: 100%; height: 500px;"
          src={videoURL}
          title="YouTube video player"
          class="w-full h-auto min-h-[500px]"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
      ) : (
        <video class="w-full h-auto max-w-full" controls>
          <source src={videoURL} type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      )
    }
  </div>
</section>

<!-- referrerpolicy="strict-origin-when-cross-origin" -->
