/* Tenant Theme: Beanery (Purple Theme) - ID: 6944754c649b0752d88a5d56 */
/* @import "tailwindcss"; */

@theme {
  --color-primary-50: oklch(0.969 0.016 293.756) !important;
  --color-primary-100: oklch(0.943 0.029 294.588) !important;
  --color-primary-200: oklch(0.894 0.057 293.283) !important;
  --color-primary-300: oklch(0.811 0.111 293.571) !important;
  --color-primary-400: oklch(0.702 0.183 293.541) !important;
  --color-primary-500: oklch(0.606 0.25 292.717) !important;
  --color-primary-600: oklch(0.541 0.281 293.009) !important;
  --color-primary-700: oklch(0.491 0.27 292.581) !important;
  --color-primary-800: oklch(0.432 0.232 292.759) !important;
  --color-primary-900: oklch(0.38 0.189 293.745) !important;
  --color-primary-950: oklch(0.283 0.141 291.089) !important;
}
