---
import CtaDefault from "./cta-default.astro";
import CtaImageTile from "./cta-image-tile.astro";
import CtaOffset from "./cta-offset.astro";
import CtaPrimary from "./cta-primary.astro";
import CtaSplit from "./cta-split.astro";

const { variant } = Astro.props;

const collectionMap = {
  default: CtaDefault,
  primary: CtaPrimary,
  split: CtaSplit,
  "image-tile": CtaImageTile,
  offset: CtaOffset,
};

const getComponent = (variant) => {
  return collectionMap[variant] || CtaDefault;
};

const RenderComponent = getComponent(variant);
---

{
  RenderComponent ? (
    <RenderComponent {...Astro.props} />
  ) : (
    <p>No valid variant or collection type selected</p>
  )
}
