---
import ThemeMgmt from "./theme-mgmt.astro";

const { title } = Astro.props;
---

<header
  class="max-w-7xl mx-auto px-4 py-3 scroll-smooth focus:scroll-auto w-full"
>
  <nav class="w-full py-3">
    <div class="flex justify-between items-center w-full">
      <a href="/" class="text-base font-bold no-a-style">
        {Astro.locals?.tenant?.name || title}
      </a>
      <div class="flex space-x-4 no-a-style">
        <a href="/about" class="">About</a>
        <!-- <a href="/blog" class="">Featured</a>
        <a href="/blog" class="">Technology</a>
        <a href="/blog" class="">Health</a>
        <a href="/blog" class="">Finance</a> -->
        <a href="/posts" class="">Blog</a>
        <a href="/roadmaps" class="">Roadmaps</a>
        <a href="/guides" class="">Guides</a>
        <!-- <a href="/team" class="">Team</a> -->
        <!-- <ThemeMgmt /> -->
      </div>
    </div>
  </nav>
</header>
