---
import PageLayout from "../../../layouts/page-layout.astro";

let { collectionType, slug } = Astro.params;

console.log(collectionType);
console.log(slug);
---

<PageLayout>
  <h1>Collection Page</h1>
</PageLayout>
