---
import SectionTitle from "../../section-title.astro";
import CollectionDefaultItem from "./collection-default-item.astro";

const { records } = Astro.props;
---

<!-- {JSON.stringify(records, null, 2)} -->
<section class="relative w-full max-w-7xl mx-auto lg:pb-24">
  <SectionTitle {...Astro.props} />

  <div class="py-4 px-2 lg:px-0">
    <ol
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4"
      role="list"
    >
      {records?.map((post) => <CollectionDefaultItem {...post} />)}
    </ol>
  </div>
</section>
