---
import LayoutBlocks from "../blocks/layout-blocks.astro";
import ContentRender from "../themes/content-render.astro";
import PostHeaderDefault from "../themes/default/collection/post/post-header-default.astro";
import Layout from "./layout.astro";

const { variant, content } = Astro.props;
---

<Layout {...Astro.props}>
  <article>
    <div class="container max-w-full mx-auto">
      <PostHeaderDefault {...Astro.props} />

      <!-- Deprecated: Use LayoutBlocks instead -->
      {/* Post Content */}
      {
        content && (
          <section class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class="relative">
              <div class="grid grid-cols-1 lg:grid-cols-4 gap-12">
                <div class="lg:col-span-3-x lg:col-span-4">
                  <div class="prose-styles">
                    <div class="content-wrapper max-w-7xl">
                      <ContentRender {...Astro.props} className={""} />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        )
      }

      {/* Layout Blocks */}
      <LayoutBlocks {...Astro.props} />

      <!-- <slot />  FIXME -->
    </div>
  </article>
</Layout>
